.sidemenu{
    width: 250px;
    background-color: #173F5F;
    padding-bottom: 20px;
    height: 600px;
    position: fixed;
    top: 59px;
    z-index: 1;
    overflow: scroll;
    
}
.sidemenu::-webkit-scrollbar {
    display: none;
}
.toggle-bar::-webkit-scrollbar {
    display: none;
}
.dashbord-body{
    width:calc(100% - 250px);
    height: 100vh;
    position: absolute;
    top: 59px;
    right: 0;
    padding: 10px 10px 10px 10px;
}
.dashbord-body-toggle{
    width:calc(100% - 50px);
    height: 100vh;
    position: absolute;
    top: 59px;
    right: 0;
    padding: 10px 10px 10px 10px;
}
/*.margine{
    
}*/
.toggle-bar{
    width: 50px;
    background-color: #173F5F;
    padding-bottom: 20px;
    top: 59px;
    position: fixed;
    overflow: scroll;
}
.module{
    padding: 19px;
    border-radius: 15px 0 0 15px;
    color: white;
    height: 60px;
}
.module-active{
    background-color: white;
    color: black; 
}
.module:hover{
    animation: moduleLink 0.7s 1;
    background-color: white;
    color: black;   
}
.hide-module-name{
    display: none;
}
.hide-error{
    display: none;
}
.customInValidToltip{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: .1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #fff;
  background-color: rgba(220, 53, 69, 0.9);
  border-radius: 0.25rem;
}
@keyframes moduleLink{
    from {background-color: #252733;}
    to {background-color: white; color: black;}
}
/*////buttun in reports*/
.reportBtn:hover{
    background-color: #a3d2ca;
}

/*product management start*/
.hide-form{
    display: none;
}
/*product management end*/

/*//data table button*/
.dt-buttons{
    position: relative;
    top: 40px;
}
button.cusbtn{ 
    border: none;
    /*border-radius: 10px;*/
    background-color: #007bff;
    color: white; 
    width: 70px;
    margin: 5px;
}
button.cusbtn:hover{
    background-color: #17a2b8;
    color: white;
}
/*//data table button*/