.sidemenu{
    width: 250px;
    background-color: #173F5F;
    padding-bottom: 20px;
    height: 600px;;
    position: fixed;
    top: 59px;
    z-index: 1;
    overflow: scroll;
    
}
.sidemenu::-webkit-scrollbar {
    display: none;
}
.toggle-bar::-webkit-scrollbar {
    display: none;
}
.dashbord-body{
    width:calc(100% - 250px);
    height: 100vh;
    position: absolute;
    top: 59px;
    right: 0;
    padding: 10px 10px 10px 10px;
}
.dashbord-body-toggle{
    width:calc(100% - 50px);
    height: 100vh;
    position: absolute;
    top: 59px;
    right: 0;
    padding: 10px 10px 10px 10px;
}
.toggle-bar{
    width: 50px;
    background-color: #173F5F;
    padding-bottom: 20px;
    top: 59px;
    position: fixed;
    overflow: scroll;
}
.module{
    padding: 19px;
    border-radius: 15px 0 0 15px;
    color: white;
    height: 60px;
}
.module-active{
    background-color: white;
    color: black; 
}
.module:hover{
    animation: moduleLink 0.7s 1;
    background-color: white;
    color: black;   
}
.hide-module-name{
    display: none;
}

@keyframes moduleLink{
    from {background-color: #252733;}
    to {background-color: white; color: black;}
}

/*product management start*/
.hide-form{
    display: none;
}
/*product management end*/